*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #282c34;
  color: wheat;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-areas: 
  'header header header'
  'sidebar main main'
  'footer footer footer'
  ;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 80% 10%;
}
.main{
  grid-area: main;
  border-left: 2px solid wheat;
}

.student-box{
  width: 50vw;
  margin: auto;
  border: 2px solid wheat;
}