*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #282c34;
  color: wheat;
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.top-left, .bottom-left, .top-right, .bottom-right{
  position: absolute;
  height: 15vh;
}
.top-left{
  top: 10vh;
  left: 5vw;
}
.top-right{
  top: 10vh;
  right: 5vw;
}
.bottom-left{
  bottom: 10vh;
  left: 5vw;
}
.bottom-right{
  bottom: 10vh;
  right: 5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
