*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-areas: 
  'header header header'
  'sidebar main main'
  'footer footer footer'
  ;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80% 10%;
}